@layer phone {
    * {
        font-size: 40px;
    }

    #main-wrapper {
        display: block;
        
        #nav {
            width: 100vw;
            height: 10vh;
            flex-direction: row;

            #nav-icon {
                width: 20%;
            }

            #nav-items {
                width: 50%;
                flex-direction: row;
                justify-content: center;

                .nav-item {
                    font-size: 3vw;
                    border-radius: 3px;
                    padding: 5px;
                }
            }

            .nav-links {
                display: none;
            }
        }
    }

    #main-img {
        #main-img-default {
            display: none;
        }
    
        #main-img-phone {
            display: block;
            width: 100vw;
        }
    }


    #activities {
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &>.event-container {
            display: block;
            padding: 0;
            padding-bottom: 0.5rem;

            &>img {
                width: 90vw;
            }

            &>.event-description {
                display: none;
            }
        }
    }

    #articles {
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        #monthly-shelf {
            gap: 1rem;
            display: block;

            img:hover {
                transform: none;
            }
        }

        #bookshelf {
            .book-container {
                width: 40vh;

                img:hover {
                    transform: none;
                }

                .book-detail {
                    display: none;
                }
            }
        }
    }

    #about {
        padding-top: 1rem ;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &>#member-description {
            display: none;
        }
    }
}