@import "./main.css" layer(phone);

* {
    font-size: 40px;
}

#main-wrapper {
    display: block;
}

#main-img {
    #main-img-default {
        display: none;
    }

    #main-img-phone {
        display: block;
        width: 100vw;
    }
}


#activities {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#articles {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    #monthly-shelf {
        main {
            gap: 1rem;
            display: block;
    
            img:hover {
                transform: none;
            }
        }
    }


    #past-article-shelf {
        main {
            .book-container {
                width: 40vh;
    
                img:hover {
                    transform: none;
                }
    
                .book-detail {
                    display: none;
                }
            }
        }
    }
}

#about {
    padding-top: 1rem ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &>#member-description {
        display: none;
    }
}